<table class="table table-bordered table-hover" style="width:280px; margin-left:50px;">
    <thead>
        <tr>
            <th><b>Review</b></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a asp-action="invitations" asp-controller="review" style="text-decoration:none;">
                    Invitations
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </td>
        </tr>

        <tr>
            <td>
                <a asp-action="articelsToReview" asp-controller="review" style="text-decoration:none;">
                    Articles To Review
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </td>
        </tr>

        <tr>
            <td>
                <a asp-action="myReviews" asp-controller="review" style="text-decoration:none;">
                    My Reviews
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </td>
        </tr>
        
    </tbody>
</table>

