@model BlindJournalManagmentSystem.ViewModels.StepFiveViewModel
@{
    ViewBag.Title = "stepFive";
}
    <div class="col-sm-4" style="padding:35px; ">
        <partial name="_AuthorSideBar" />
    </div>

<div class="col-sm-8">
    <div id="5">
        @using (Html.BeginForm("stepfive", "Author", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.Partial("_FormValidationSummary")

            <h1> <small><b>Step 5: Reviewers</b></small></h1>
            <p>To avoid conflict of interest, IEEE Access does not permit preferred reviewers. IEEE Access uses a Reviewer Locator tool that recommends reviewers based on the content of your manuscript. To indicate your opposed reviewers, enter the reviewer's information into the textboxes below and click the appropriate designation button. When you are finished, click "Save and Continue."</p>
            <p> <span class="required">*</span> =Required Fields</p>
            <hr class="hr">

            <h1> <small>Opposed Reviewers</small></h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ACTIONS</th>
                        <th>PREFERENCES</th>
                        <th>REVIEWER</th>
                        <th>INSTITUTION</th>
                    </tr>
                </thead>
                <tbody id="addOpposedAuthor">
                    <!-- If creating new article model shoul be null so check for model not model.OpposedAuthorsEmails -->

                    @if (Model != null)
                    {
                        for (int i = 0; i < Model.OpposedAuthorsEmails.Count(); i++)
                        {
                            <tr>
                                <td></td>
                                <td> <button type="button" class="btn btn-danger"> remove </button> </td>
                                <td>
                                    <input type="hidden" name="OpposedAuthorsEmails" value="@Model.OpposedAuthorsEmails.ElementAt(i)" />
                                    @Model.OpposedAuthorsEmails.ElementAt(i)
                                </td>
                                <td> @Model.OpposedAuthorsInstitutions.ElementAt(i) </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <h3><small><b>Add Opposed Author</b></small></h3>
            <p>Find using Author's email address</p>
            <div class="input-group">
                <input type="email" class="form-control" placeholder="AuthorEmail@example.com" name="search" id="search">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary" id="searchButton"> <i class="glyphicon glyphicon-search"></i> Search</button>
                </div>
            </div>
            <hr class="hr">
            <button type="submit" class="btn btn-primary pull-right">Save & Continue <span class="glyphicon glyphicon-chevron-right"></span> </button>
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/stepFive.js"></script>
}
